#table-form {

    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .state {
        margin-right: 1rem;
    }

    #count {

        flex-grow: 1;
        text-align: right;

        p {
            display: inline;
        }
    }

    input {
        padding: 8px;
        width: 120px;
        font-weight: 600;
    }
}

table#data {
    width: 100%;
}


form#pagination {

    display: flex;
    justify-content: center;
    gap: .5rem;
    height: 2rem;
    margin-top: 1rem;

    input {
        border-radius: var(--border-radius);
        border-color: var(--border-color);
        text-align: center;
        width: 60px;
    }
}