#table-form {

    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .state {
        margin-right: 1rem;
    }
}

table#data {
    width: 100%;
}


form#pagination {

    display: flex;
    justify-content: center;
    gap: .5rem;
    height: 2rem;
    margin-top: 1rem;

    input {
        text-align: center;
        width: 60px;
    }
}