:root {
    --blue: #4b3df7;
    --blue-second: #edecff;
    --teal: #1b6780;
    --teal-second: #ebf4fa;
}



.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.content {
    padding: 2rem;
}
.content.documentation, .content.code-snippet {
    flex: 0 0 calc(50% - .5rem);
    max-height: 70%;
    overflow: auto;
}

h1 {
    margin-bottom: 1.5rem;
}



/* REUSABLE */

.method {

    display: inline-block;
    border: solid 1px var(--blue);
    border-radius: 6px;
    padding: 0 6px;
    margin-right: .5rem;
    background-color: var(--blue-second);

    p {
        color: var(--blue);
        font-weight: 600;
    }
}

.code {

    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    margin-top: .5rem;
    position: relative;

    pre {
        overflow: auto;
        padding: 1rem;
    }
}

.copy-button {
    height: 20px;
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    padding: .5rem;
    border-radius: var(--border-radius);
    height: calc(20px + 1rem);
}
.copy-button:hover {
    transition: background-color .125s ease;
    background-color: var(--border-color);
}


/* SECTION */

#endpoints-menu {
    margin-bottom: 2rem;
}

#base-url {

    margin: 3rem 0;

    #requests-url {
        display: inline-block;
    }
}

.code-snippet .snippet {
    margin-top: 1rem;
}

#requests {

    display: flex;
    gap: 2rem;

    .head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    form, .response {
        flex: 1;
        width: 50%;
    }

    form .sub-form {
        display: none;
    }
    form[data-tab-view="cout_chauffage"] .sub-form[data-tab="cout_chauffage"] {
        display: block;
    }
    form[data-tab-view="etiquette_dpe"] .sub-form[data-tab="etiquette_dpe"] {
        display: block;
    }
    form {

        h2 {
            margin-bottom: 1rem;
        }
    
        button.main {
            width: 100%;
            margin-top: 1rem;
        }
    }

    .response {

        .status-code {
            padding: 4px 8px;
            border-radius: var(--border-radius);
            background-color: var(--wrong);
            display: table;
            margin-bottom: .5rem;
            font-size: .8rem;
            font-weight: 600;
        }
        .status-code[data-status="200"] {
            background-color: var(--good);
        }
    
        .json-wrapper pre {
            min-height: 120px;
        }
    }

}


section.description {

    .api-url {

        margin-top: 1rem;
        
        > * {
            display: inline-block;
            margin-top: .5rem
        }
        
        > p {
            border: solid 1px #0d4151;
            border-radius: 4px;
            background-color: #fafbfb;
            padding: 0 4px;
            color: #0d4151;
        }
    }

    .doc-endpoint {

        margin-top: 2rem;
    
        h2 {
            margin-bottom: 1rem;
        }
    
        .endpoint {
            margin-bottom: 1rem;
        }
    
        .endpoint > * {
            display: inline-block;
        }

        .parameters li {

            border-top: solid 1px var(--border-color);
            padding-top: .5rem;
            margin-top: .5rem;

            .key {
                background-color: var(--teal-second);
                color: var(--teal);
                padding: 0 4px;
                border-radius: 4px;
                margin: 4px 0;
                display: inline-block;
                font-weight: 600;
            }

            label {
                margin-left: 4px;
                display: block;
            }

        }
    }
}


select {
    width: 100%;
    margin-top: .5rem;
    height: 3rem;
}



/* JSON syntax hightlight */

pre {

    color: grey;
    font-family: monospace;

    .string { color: brown; }
    .number { color: cornflowerblue; }
    .boolean { color: lightseagreen; }
    .null { color: indigo }
    .key { color: #1b1b1b; }
}