:root {
    --blue: #4b3df7;
    --blue-second: #edecff;
    --teal: #1b6780;
    --teal-second: #ebf4fa;
}



.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.content {
    padding: 2rem;
}
.content.documentation, .content.code-snippet {
    flex: 0 0 calc(50% - .5rem);
    max-height: 70%;
    overflow: auto;
}

h1 {
    margin-bottom: 1.5rem;
}



/* REUSABLE */

.method {

    display: inline-block;
    border: solid 1px var(--blue);
    border-radius: 6px;
    padding: 0 6px;
    margin-right: .5rem;
    background-color: var(--blue-second);

    p {
        color: var(--blue);
        font-weight: 600;
    }
}

.code {

    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    margin-top: .5rem;
    position: relative;

    pre {
        overflow: auto;
        padding: 1rem;
    }
}


/* SECTION */

#endpoints-menu {
    margin-bottom: 2rem;
}

#base-url {

    margin: 3rem 0;

    #endpoint-url {
        display: inline-block;
    }
}

.code-snippet .snippet {
    margin-top: 1rem;
}

#requests {

    display: flex;
    gap: 2rem;

    .head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .forms-wrapper, .response {
        flex: 1;
        width: 50%;
    }

    .forms-wrapper form {
        display: none;
    }
    .forms-wrapper[data-tab-view="cout_chauffage"] form.cout-chauffage {
        display: block;
    }
    .forms-wrapper[data-tab-view="etiquette_dpe"] form.etiquette-dpe {
        display: block;
    }
    .forms-wrapper {

        h2 {
            margin-bottom: 1rem;
        }
    
        button.main {
            width: 100%;
            margin-top: 1rem;
        }
    }

    .response {

        .status-code {
            padding: 4px 8px;
            border-radius: var(--border-radius);
            background-color: var(--good);
            display: table;
            margin-bottom: .5rem;
            font-size: .8rem;
            font-weight: 600;
        }
    
        .json-wrapper #copy-json {
                height: 20px;
                position: absolute;
                top: 1rem;
                right: 1rem;
                cursor: pointer;
            }
    }

}


section.description {

    .api-url {

        margin-top: 1rem;
        
        > * {
            display: inline-block;
            margin-top: .5rem
        }
        
        > p {
            border: solid 1px #0d4151;
            border-radius: 4px;
            background-color: #fafbfb;
            padding: 0 4px;
            color: #0d4151;
        }
    }

    .doc-endpoint {

        margin-top: 2rem;
    
        h2 {
            margin-bottom: 1rem;
        }
    
        .endpoint {
            margin-bottom: 1rem;
        }
    
        .endpoint > * {
            display: inline-block;
        }

        .parameters li {

            border-top: solid 1px var(--border-color);
            padding-top: .5rem;
            margin-top: .5rem;

            .key {
                background-color: var(--teal-second);
                color: var(--teal);
                padding: 0 4px;
                border-radius: 4px;
                margin: 4px 0;
                display: inline-block;
                font-weight: 600;
            }

            label {
                margin-left: 4px;
                display: block;
            }

        }
    }
}



/* JSON syntax hightlight */

pre {

    color: grey;
    font-family: monospace;

    .string { color: brown; }
    .number { color: cornflowerblue; }
    .boolean { color: lightseagreen; }
    .null { color: indigo }
    .key { color: #1b1b1b; }
}