h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.description {

    display: flex;
    padding: 4rem 8rem;
    gap: 6rem;
    align-items: center;

    img {
        flex: 1;
        width: 10%;
    }

    .text {

        flex: 2;
        text-wrap: balance;
        text-align: center;

        p {
            font-size: 1rem;
        }
        p:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
}

.shortcuts {

    padding: 0rem 2rem;

    ul {

        display: flex;
        gap: 2rem;
        justify-content: space-between;

        img {
            width: 100%;
            border-radius: var(--border-radius);
        }
    }
}