
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');






/* GLOBAL UI */

:root {
    --bg-color: #f9f5f2;
    --bg-color-second: white;
    --text-color: black;
    --text-color-second: #626262;
    --border-radius: 12px;
    --accent: #fdc848;
    --accent-second: #fff9ec;
    --input-bg-color: #f2f2f2;
    --border-color: #dcdcdc
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

h1 {
    font-size: 1.5rem;
}


body {
    background-color: var(--bg-color);
}


header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-color-second);
    border-bottom: solid 1px var(--bg-color);

    .update {

        .action {

            label {
                padding-right: .5rem;
                vertical-align: middle;
            }

            button {

                vertical-align: middle;

                img {
                    display: block;
                    margin: 10px;
                }
            }
        }

        .collecting {

            display: none;

            label {
                padding-bottom: .5rem;
            }
        }
    }

    .update.loading {

        .action {
            display: none;
        }

        .collecting {
            display: block;
        }
    }
}

main {
    display: flex;
    height: calc(100vh - 50px - 2rem - 6px);
}

nav.menu {

    padding: 2rem;
    min-width: 250px;
    height: 100%;
    position: relative;

    li > a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 1.15rem 0;
    }


    li .highlighter {
        display: none;
        background-color: var(--accent);
        width: calc(100% - 10px);
        height: 50px;
        position: absolute;
        z-index: -10;
        left: 0;
        border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    }
    li:hover .highlighter {
        display: block;
        opacity: .2;
    }
    li.active {
        .highlighter {
            display: block;
            opacity: 1;
        }
        img {
            filter: invert(100)
        }
        p {
            color: white;
        }
    }

    .credits {
        position: absolute;
        bottom: 2rem;
        color: var(--text-color-second);
    }
}

.content-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
}

.content {
    background-color: var(--bg-color-second);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 1rem;
}





/* REUSABLE ELEMENTS */

.div-horizontal {
    width: 1px;
    background-color: var(--input-bg-color);
    margin: 6px 1rem;
}

label {
    color: var(--text-color-second);
    font-size: .8rem;
    display: inline-block;
}

select {
    border: solid 1px var(--text-color-second);
    border-radius: var(--border-radius);
    padding: 8px;
    font-weight: 600;
}

input {
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color-second);
    padding: 0px .8rem;
}

button.main {
    height: 3rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--accent);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

button.second-button {
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--input-bg-color);
    cursor: pointer;
}

.text-second {
    font-size: 14px;
    color: var(--text-color-second);
    display: inline;
}

.progress-container {

    width: 10rem;
    height: .6rem;
    background-color: var(--input-bg-color);
    border-radius: var(--border-radius);
    overflow: hidden;

    .progress {
        height: 100%;
        width: 5%;
        background-color: var(--accent);
        transition: width ease-out .3s;
    }
}

table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    overflow: hidden;
}
th, td {
    padding: 10px;
}
tr:nth-child(even) {
    background-color: var(--accent-second);
}
th:not(:last-child), td:not(:last-child) {
    border-right: 1px solid var(--border-color);
}
tr:first-child > th {
    border-bottom: 1px solid var(--border-color);
}

.noUi-connect {
    background-color: var(--accent);
}
.noUi-tooltip {
    font-size: .8rem;
    border: none;
    background-color: inherit;
    padding: 0;
}


/* LOADING | NO RESULT */

.lds-ring {
    position: relative;
}
.lds-ring.is-loading{
    display: block;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: white transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}