.content-wrapper {
    display: flex;
    gap: 1rem;
}

.content {
    padding: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}


#map {
    height: 250px;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}


button.main {
    width: 100%;
    margin-top: 1rem;
}