<header>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="France Energie logo" height="50px">
    <div class="update">
        <div class="action">
            <label for="update">Données mises à jour le <b>{{ update_date }}</b></label>
            <button id="update" name="update" class="second-button">
                <img src="{{ url_for('static', filename='images/update.svg') }}" alt="Rafraichir" height="16px">
            </button>
        </div>
        <div class="collecting">
            <label for="collecting">Collecte des données</label>
            <div class="progress-container">
                <div class="progress"></div>
            </div>
        </div>
    </div>
</header>