<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Marin NAGY"> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/api-documentation.css') }}">
    <!-- <link rel="icon" type="" href="{{ url_for('static', filename='images/favicon.jpg') }}"> -->
    <title>France Energie - Prédictions DPE et Consomation</title>
</head>

{% include "elements/header.html" %}

<body>
    <main>

        {% include "elements/menu.html" %}

        <div class="content-wrapper">
            <div class="content documentation">
                <h1>Documentation</h1>
                <section class="description">
                    <p>Cette API permet d'évaluer la performance énergétique des logements situés dans le département du Rhône. Elle est conçue pour obtenir rapidement une estimation de la consommation annuelle de chauffage ainsi qu'une prédiction des logements passoires (étiquette F-G).</p>
                    <div class="api-url">
                        <div><p>URL :</p></div>
                        <p class="text-light">https://france-energie.koyeb.app/api/v1</p>
                    </div>
                    <div class="doc-endpoint">
                        <h2>Prédiction de la consommation de chauffage (kwh)</h2>
                        <div class="endpoint">
                            <div class="method">
                                <p>GET</p>
                            </div>
                            <p class="text-light">/consommation_chauffage</p>
                        </div>
                        <div class="parameters">
                            <p>Paramètres :</p>
                            <ul class="params-list">
                                <li>
                                    <span class="key">surface_habitable_logement</span>
                                    <label>{int} - Surface du logement en m²</label>
                                </li>
                                <li>
                                    <span class="key">altitude</span>
                                    <label>{int} - Altitude en m</label>
                                </li>
                                <li>
                                    <span class="key">annee_construction</span>
                                    <label>{int} - Année de construction du logement</label>
                                </li>
                                <li>
                                    <span class="key">zone_climatique</span>
                                    <label>{string} - Zone climatique du département selon la réglementation environnementale RE2020
                                        <br>Valeurs possibles :
                                        <ul class="value-list">
                                            <li>H1a</li>
                                            <li>H1b</li>
                                            <li>H1c</li>
                                            <li>H2a</li>
                                            <li>H2b</li>
                                            <li>H2c</li>
                                            <li>H2d</li>
                                            <li>H3</li>
                                        </ul>
                                    </label>
                                </li>
                                <li>
                                    <span class="key">type_batiment</span>
                                    <label>{string} - Le type de bâtiment
                                        <br>Valeurs possibles :
                                        <ul class="value-list">
                                            <li>appartement</li>
                                            <li>immeuble</li>
                                            <li>maison</li>
                                        </ul>
                                    </label>
                                </li>
                                <li>
                                    <span class="key">qualite_isolation_enveloppe</span>
                                    <label>{string} - La qualité de l'enveloppe thermique du bâtiment
                                        <br>Valeurs possibles :
                                        <ul class="value-list">
                                            <li>très bonne</li>
                                            <li>bonne</li>
                                            <li>moyenne</li>
                                            <li>insuffisante</li>
                                        </ul>
                                    </label>
                                </li>
                                <li>
                                    <span class="key">type_energie_principale_chauffage</span>
                                    <label>{string} - Le type d'énergie utilisé pour le chauffage
                                        <br>Valeurs possibles : 
                                        <ul class="value-list">
                                            <li>Bois – Bûches, Bois – Granulés (pellets) ou briquettes</li>
                                            <li>Bois – Plaquettes d’industrie</li>
                                            <li>Bois – Plaquettes forestières</li>
                                            <li>Butane, Charbon</li>
                                            <li>Fioul domestique</li>
                                            <li>GPL, Propane</li>
                                            <li>Réseau de Chauffage urbain</li>
                                            <li>Réseau de Froid Urbain</li>
                                        </ul>
                                    </label>
                                </li>
                                <li>
                                    <span class="key">logement_traversant</span>
                                    <label>{bool} - Le logement est-il traversant (possibilité d'ouvrir les portes ou fenêtres de deux façades d'orientations différentes) ? <b>[0 ; 1]</b></label>
                                </li>
                                <li>
                                    <span class="key">protection_solaire_exterieure</span>
                                    <label>{bool} - Le logement est-il équipé d'une protection solaire ? <b>[0 ; 1]</b></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="doc-endpoint">
                        <h2>Prédiction de l'étiquette DPE</h2>
                        <div class="endpoint">
                            <div class="method">
                                <p>GET</p>
                            </div>
                            <p class="text-light">/etiquette_dpe</p>
                        </div>
                        <div class="parameters">
                            <p>Paramètres :</p>
                            <ul class="params-list">
                                <li>
                                    <span class="key">surface_habitable_logement</span>
                                    <label>{int} - Surface du logement en m²</label>
                                </li>
                                <li>
                                    <span class="key">altitude</span>
                                    <label>{int} - Altitude en m</label>
                                </li>
                                <li>
                                    <span class="key">annee_construction</span>
                                    <label>{int} - Année de construction du logement</label>
                                </li>
                                <li>
                                    <span class="key">zone_climatique</span>
                                    <label>{string} - Zone climatique du département selon la réglementation environnementale RE2020
                                        <br>Valeurs possibles :
                                        <ul class="value-list">
                                            <li>H1a</li>
                                            <li>H1b</li>
                                            <li>H1c</li>
                                            <li>H2a</li>
                                            <li>H2b</li>
                                            <li>H2c</li>
                                            <li>H2d</li>
                                            <li>H3</li>
                                        </ul>
                                    </label>
                                </li>
                                <li>
                                    <span class="key">type_batiment</span>
                                    <label>{string} - Le type de bâtiment
                                        <br>Valeurs possibles :
                                        <ul class="value-list">
                                            <li>appartement</li>
                                            <li>immeuble</li>
                                            <li>maison</li>
                                        </ul>
                                    </label>
                                </li>
                                <li>
                                    <span class="key">qualite_isolation_enveloppe</span>
                                    <label>{string} - La qualité de l'enveloppe thermique du bâtiment
                                        <br>Valeurs possibles :
                                        <ul class="value-list">
                                            <li>très bonne</li>
                                            <li>bonne</li>
                                            <li>moyenne</li>
                                            <li>insuffisante</li>
                                        </ul>
                                    </label>
                                </li>
                                <li>
                                    <span class="key">type_energie_principale_chauffage</span>
                                    <label>{string} - Le type d'énergie utilisé pour le chauffage
                                        <br>Valeurs possibles : 
                                        <ul class="value-list">
                                            <li>Bois – Bûches, Bois – Granulés (pellets) ou briquettes</li>
                                            <li>Bois – Plaquettes d’industrie</li>
                                            <li>Bois – Plaquettes forestières</li>
                                            <li>Butane, Charbon</li>
                                            <li>Fioul domestique</li>
                                            <li>GPL, Propane</li>
                                            <li>Réseau de Chauffage urbain</li>
                                            <li>Réseau de Froid Urbain</li>
                                        </ul>
                                    </label>
                                </li>
                                <li>
                                    <span class="key">logement_traversant</span>
                                    <label>{bool} - Le logement est-il traversant (possibilité d'ouvrir les portes ou fenêtres de deux façades d'orientations différentes) ? <b>[0 ; 1]</b></label>
                                </li>
                                <li>
                                    <span class="key">protection_solaire_exterieure</span>
                                    <label>{bool} - Le logement est-il équipé d'une protection solaire ? <b>[0 ; 1]</b></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="content code-snippet">
                <h1>Utilisation</h1>
                <div class="curl snippet">
                    <p>cURL</p>
                    <div class="code">
                        <img src="{{ url_for('static', filename='images/copy.svg') }}" alt="" class="copy-button" height="20px">
                        <pre>
curl -G "https://france-energie.koyeb.app/api/v1/consommation_chauffage" \
    --data-urlencode "surface_habitable_logement=75" \
    --data-urlencode "altitude=125" \
    --data-urlencode "annee_construction=2010" \
    --data-urlencode "zone_climatique=H1a" \
    --data-urlencode "type_batiment=appartement" \
    --data-urlencode "qualite_isolation_enveloppe=très bonne" \
    --data-urlencode "type_energie_principale_chauffage=Bois – Bûches" \
    --data-urlencode "logement_traversant=1" \
    --data-urlencode "protection_solaire_exterieure=1"
                        </pre>
                    </div>
                </div>
                <div class="python snippet">
                    <p>Python</p>
                    <div class="code">
                        <img src="{{ url_for('static', filename='images/copy.svg') }}" alt="" class="copy-button" height="20px">
                        <pre>
import requests

base_url = "https://france-energie.koyeb.app/api/v1"
endpoint = "/consommation_chauffage"

params = {
    'surface_habitable_logement': 75,
    'altitude': 125,
    'annee_construction': 2010,
    'zone_climatique': 'H1a',
    'type_batiment': 'appartement',
    'qualite_isolation_enveloppe': 'très bonne',
    'type_energie_principale_chauffage': 'Bois – Bûches',
    'logement_traversant': 1,
    'protection_solaire_exterieure': 1
}

response = requests.get(base_url + endpoint, params=params)
                        </pre>
                    </div>
                </div>
                <div class="r snippet">
                    <p>R</p>
                    <div class="code">
                        <img src="{{ url_for('static', filename='images/copy.svg') }}" alt="" class="copy-button" height="20px">
                        <pre>
library(httr)

base_url <- "https://france-energie.koyeb.app/api/v1"
endpoint <- "/consommation_chauffage"

response <- GET(
    url = paste0(base_url, endpoint),
    query = list(
        surface_habitable_logement = 75,
        altitude = 125,
        annee_construction = 2010,
        zone_climatique = "H1a",
        type_batiment = "appartement",
        qualite_isolation_enveloppe = "très bonne",
        type_energie_principale_chauffage = "Bois – Bûches",
        logement_traversant = 1,
        protection_solaire_exterieure = 1
    )
)
                        </pre>
                    </div>
                </div>
            </div>
            <div class="content playground">
                <h1>Playground</h1>
                <form id="endpoints-menu">
                    <ul class="tabmenu">
                        <li class="active" data-view="consommation_chauffage">
                            <p>Consommation de chauffage</p>
                        </li>
                        <li data-view="etiquette_dpe">
                            <p>Etiquette DPE</p>
                        </li>
                    </ul>
                </form>
                <section id="base-url">
                    <div class="method">
                        <p>GET</p>
                    </div>
                    <p id="requests-url" class="text-light">https://france-energie.koyeb.app/api/v1/consommation_chauffage</p>
                </section>
                <section id="requests">
                    <form action="" data-tab-view="consommation_chauffage">
                        <h2>Paramètres</h2>
                        <div class="sub-form" data-tab="consommation_chauffage">
                            <div class="form-input">
                                <label for="surface_habitable_logement">surface_habitable_logement</label>
                                <input type="number" name="surface_habitable_logement" id="surface_habitable_logement" placeholder="int">
                            </div>
                            <div class="form-input">
                                <label for="altitude">altitude</label>
                                <input type="number" name="altitude" id="altitude" placeholder="int">
                            </div>
                            <div class="form-input">
                                <label for="annee_construction">annee_construction</label>
                                <input type="number" name="annee_construction" id="annee_construction" placeholder="int">
                            </div>
                            <div class="form-input">
                                <label for="zone_climatique">zone_climatique</label>
                                <select name="zone_climatique" id="zone_climatique">
                                    <option value="H1a">H1a</option>
                                    <option value="H1b">H1b</option>
                                    <option value="H1c">H1c</option>
                                    <option value="H2a">H2a</option>
                                    <option value="H2b">H2b</option>
                                    <option value="H2c">H2c</option>
                                    <option value="H2d">H2d</option>
                                    <option value="H3">H3</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="type_batiment">type_batiment</label>
                                <select name="type_batiment" id="type_batiment">
                                    <option value="appartement">appartement</option>
                                    <option value="immeuble">immeuble</option>
                                    <option value="maison">maison</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="qualite_isolation_enveloppe">qualite_isolation_enveloppe</label>
                                <select name="qualite_isolation_enveloppe" id="qualite_isolation_enveloppe">
                                    <option value="très bonne">très bonne</option>
                                    <option value="bonne">bonne</option>
                                    <option value="moyenne">moyenne</option>
                                    <option value="insuffisante">insuffisante</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="type_energie_principale_chauffage">type_energie_principale_chauffage</label>
                                <select name="type_energie_principale_chauffage" id="type_energie_principale_chauffage">
                                    <option value="Bois – Bûches">Bois – Bûches</option>
                                    <option value="Bois – Granulés (pellets) ou briquettes">Bois – Granulés (pellets) ou briquettes</option>
                                    <option value="Bois – Plaquettes d’industrie">Bois – Plaquettes d’industrie</option>
                                    <option value="Bois – Plaquettes forestières">Bois – Plaquettes forestières</option>
                                    <option value="Butane">Butane</option>
                                    <option value="Charbon">Charbon</option>
                                    <option value="Fioul domestique">Fioul domestique</option>
                                    <option value="GPL">GPL</option>
                                    <option value="Propane">Propane</option>
                                    <option value="Réseau de Chauffage urbain">Réseau de Chauffage urbain</option>
                                    <option value="Réseau de Froid Urbain">Réseau de Froid Urbain</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <div class="form-input">
                                    <label for="logement_traversant">logement_traversant</label>
                                    <select name="logement_traversant" id="logement_traversant">
                                        <option value="1">1</option>
                                        <option value="0">0</option>
                                    </select>
                                </div>
                                <div class="form-input">
                                    <label for="protection_solaire_exterieure">protection_solaire_exterieure</label>
                                    <select name="protection_solaire_exterieure" id="protection_solaire_exterieure">
                                        <option value="1">1</option>
                                        <option value="0">0</option>
                                    </select>
                                </div>
                            </div>
                            <button class="main" type="submit">Executer</button>
                        </div>
                        <div class="sub-form" data-tab="etiquette_dpe">
                            <div class="form-input">
                                <label for="surface_habitable_logement">surface_habitable_logement</label>
                                <input type="number" name="surface_habitable_logement" id="surface_habitable_logement" placeholder="int">
                            </div>
                            <div class="form-input">
                                <label for="altitude">altitude</label>
                                <input type="number" name="altitude" id="altitude" placeholder="int">
                            </div>
                            <div class="form-input">
                                <label for="annee_construction">annee_construction</label>
                                <input type="number" name="annee_construction" id="annee_construction" placeholder="int">
                            </div>
                            <div class="form-input">
                                <label for="zone_climatique">zone_climatique</label>
                                <select name="zone_climatique" id="zone_climatique">
                                    <option value="H1a">H1a</option>
                                    <option value="H1b">H1b</option>
                                    <option value="H1c">H1c</option>
                                    <option value="H2a">H2a</option>
                                    <option value="H2b">H2b</option>
                                    <option value="H2c">H2c</option>
                                    <option value="H2d">H2d</option>
                                    <option value="H3">H3</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="type_batiment">type_batiment</label>
                                <select name="type_batiment" id="type_batiment">
                                    <option value="appartement">appartement</option>
                                    <option value="immeuble">immeuble</option>
                                    <option value="maison">maison</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="qualite_isolation_enveloppe">qualite_isolation_enveloppe</label>
                                <select name="qualite_isolation_enveloppe" id="qualite_isolation_enveloppe">
                                    <option value="très bonne">très bonne</option>
                                    <option value="bonne">bonne</option>
                                    <option value="moyenne">moyenne</option>
                                    <option value="insuffisante">insuffisante</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="type_energie_principale_chauffage">type_energie_principale_chauffage</label>
                                <select name="type_energie_principale_chauffage" id="type_energie_principale_chauffage">
                                    <option value="Bois – Bûches">Bois – Bûches</option>
                                    <option value="Bois – Granulés (pellets) ou briquettes">Bois – Granulés (pellets) ou briquettes</option>
                                    <option value="Bois – Plaquettes d’industrie">Bois – Plaquettes d’industrie</option>
                                    <option value="Bois – Plaquettes forestières">Bois – Plaquettes forestières</option>
                                    <option value="Butane">Butane</option>
                                    <option value="Charbon">Charbon</option>
                                    <option value="Fioul domestique">Fioul domestique</option>
                                    <option value="GPL">GPL</option>
                                    <option value="Propane">Propane</option>
                                    <option value="Réseau de Chauffage urbain">Réseau de Chauffage urbain</option>
                                    <option value="Réseau de Froid Urbain">Réseau de Froid Urbain</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <div class="form-input">
                                    <label for="logement_traversant">logement_traversant</label>
                                    <select name="logement_traversant" id="logement_traversant">
                                        <option value="1">1</option>
                                        <option value="0">0</option>
                                    </select>
                                </div>
                                <div class="form-input">
                                    <label for="protection_solaire_exterieure">protection_solaire_exterieure</label>
                                    <select name="protection_solaire_exterieure" id="protection_solaire_exterieure">
                                        <option value="1">1</option>
                                        <option value="0">0</option>
                                    </select>
                                </div>
                            </div>
                            <button class="main" type="submit">Executer</button>
                        </div>
                    </form>
                    <div class="response">
                        <div class="container">
                            <div class="head">
                                <h2>Réponse</h2>
                                <p class="status-code"></p>
                            </div>
                            <div class="json-wrapper code">
                                <img src="{{ url_for('static', filename='images/copy.svg') }}" alt="" class="copy-button" height="20px">
                                <pre class="json-content">//</pre>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/api-documentation.js') }}"></script>

</body>
</html>