<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Marin NAGY"> -->
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <!-- Leaflet Geosearch plugin CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
    <!-- Leaflet markercluster plugin CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
    <!-- NoUISlider plugin CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.8.1/dist/nouislider.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="icon" type="" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>France Energie - Carte interactive</title>
</head>

{% include "elements/header.html" %}

<body>
    <main>
        
        {% include "elements/menu.html" %}
        
        <div class="content-wrapper">
            <div class="content">

                <section class="map">
                    <form action="" name="map-form" id="map-form">
                        <div class="left">
                            <h1>Carte</h1>
                            <div class="div-horizontal"></div>
                            <div class="place-search">
                                <label for="place">
                                    <img src="{{ url_for('static', filename='images/search.svg') }}" alt="search" width="14px">
                                </label>
                                <input type="text" name="place" id="place" placeholder="Rechercher un lieu">
                            </div>
                        </div>
                        <div class="right">
                            <p class="text-second">Type de carte</p>
                            <select name="map-style" id="map-style">
                                <option value="heatmap">Heat Map</option>
                                <option value="points">Points</option>
                            </select>
                        </div>
                    </form>
                    <div id="map" data-current-map-data="communes">
                        <a href="#" class="download-button custom-map-cta">
                            <img src="{{ url_for('static', filename='images/download.svg') }}" alt="partager" width="14px">
                            <p>Télécharger la carte</p>
                        </a>
                        <div class="map-value-container">
                            <select name="map-value" id="map-value" class="custom-map-cta">
                                <option value="score_moyenne_conso">Consommation par habitant</option>
                                <option value="score_total_conso">Consommation totale</option>
                            </select>
                            <div class="fetching custom-map-cta"><div class="lds-ring" id="loading"><div></div><div></div><div></div><div></div></div></div>
                        </div>
                        <div class="lds-ring loading-screen" id="loading"><div></div><div></div><div></div><div></div></div>
                    </div>
                </section>

                <section class="table">
                    <form action="" name="table-form" id="table-form" onsubmit="return false">
                        <h1>Communes</h1>
                        <div class="div-horizontal"></div>
                        <div class="state">
                            <label for="departement">Code de commune</label>
                            <input type="number" name="departement" id="departement">
                        </div>
                        <div class="year">
                            <label for="year">Année</label>
                            <select name="year" id="year">
                                <option value="">--</option>
                                <option value="2024">2024</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                            </select>
                        </div>
                        <div class="density">
                            <label for="density-slider">Densité de pop</label>
                            <div id="density-slider"></div>
                        </div>
                        <div class="altitude">
                            <label for="altitude-slider">Altitude</label>
                            <div id="altitude-slider"></div>
                        </div>
                        <div id="count">
                            <p>--</p>
                            <label for="">resultats</label>
                        </div>
                    </form>
                    <table id="data">
                        <tr class="header">
                            <th>Code de commune</th>
                            <th>Nom de commune</th>
                            <th>Année</th>
                            <th>Logements</th>
                            <th>Densité de population</th>
                            <th>Altitude</th>
                            <th>Consomation total (mwh)</th>
                            <th>Consomation par habitant (mwh)</th>
                        </tr>
                    </table>
                    <form id="pagination" onsubmit="return false">
                        <button name="previous" type="button" class="second-button">
                            <img src="{{ url_for('static', filename='images/left-arrow.svg') }}" alt="previous" height="20px">
                        </button>
                        <input name="index" type="numeric" value="1" min="1">
                        <button name="next" type="button" class="second-button">
                            <img src="{{ url_for('static', filename='images/right-arrow.svg') }}" alt="next" height="20px">
                        </button>
                    </form>
                </section>
            </div>
        </div>
    </main>

    <script>
        var mapData = {{ mapData | tojson }};
        var scales = {{ scales | tojson }};
    </script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!-- Leaflet Geosearch plugin JS -->
    <script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>
    <!-- Leaflet Heatmap plugin JS -->
    <script src="https://cdn.jsdelivr.net/npm/leaflet.heat@0.2.0/dist/leaflet-heat.min.js"></script>
    <!-- Leaflet markercluster plugin JS -->
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
    <!-- DOM to Image plugin JS -->
    <script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>
    <!-- noUISlider plugin JS  -->
    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.8.1/dist/nouislider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/wnumb@1.2.0/wNumb.min.js"></script> 

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>

</body>
</html>