<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Marin NAGY"> -->
     <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css') }}">
    <link rel="icon" type="" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>France Energie - Prédictions DPE et Consomation</title>
</head>

{% include "elements/header.html" %}

<body>
    <main>

        {% include "elements/menu.html" %}

        <div class="content-wrapper">
            <div class="content decisiontree">
                <section>
                    <h1>Informations du logement</h1>
                    <div id="map"></div>
                    <form action="" id="predict-form">
                        <div class="form-input">
                            <label for="address">Adresse ou code postal</label>
                            <input type="text" name="address" id="address" placeholder="69001" required>
                        </div>
                        <div class="input-group">
                            <div class="form-input">
                                <label for="surface_habitable_logement">Surface habitable (m2)</label>
                                <input type="number" name="surface_habitable_logement" id="surface_habitable_logement" placeholder="75" required>
                            </div>
                            <div class="form-input">
                                <label for="annee_construction">Année de construction</label>
                                <input type="number" name="annee_construction" id="annee_construction" placeholder="2010" required>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="form-input">
                                <label for="type_batiment">Type de bâtiment</label>
                                <select name="type_batiment" id="type_batiment">
                                    <option value="appartement">Appartement</option>
                                    <option value="immeuble">Immeuble</option>
                                    <option value="maison">Maison</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="form-input">
                                <label for="type_energie_principale_chauffage">Type d'énergie de chauffage</label>
                                <select name="type_energie_principale_chauffage" id="type_energie_principale_chauffage">
                                    <option value="Bois – Bûches">Bois – Bûches</option>
                                    <option value="Bois – Granulés (pellets) ou briquettes">Bois – Granulés (pellets) ou briquettes</option>
                                    <option value="Bois – Plaquettes d’industrie">Bois – Plaquettes d’industrie</option>
                                    <option value="Bois – Plaquettes forestières">Bois – Plaquettes forestières</option>
                                    <option value="Butane">Butane</option>
                                    <option value="Charbon">Charbon</option>
                                    <option value="Fioul domestique">Fioul domestique</option>
                                    <option value="Gaz naturel">Gaz naturel</option>
                                    <option value="GPL">GPL</option>
                                    <option value="Propane">Propane</option>
                                    <option value="Réseau de Chauffage urbain">Réseau de Chauffage urbain</option>
                                    <option value="Réseau de Froid Urbain">Réseau de Froid Urbain</option>
                                    <option value="Électricité">Électricité</option>
                                    <option value="Électricité">Électricité d'origine renouvelable utilisée dans le bâtiment</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="logement_traversant">Logement traversant</label>
                                <select name="logement_traversant" id="logement_traversant">
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </div>
                            <div>
                                <label for="protection_solaire_exterieure">Isolation extérieure</label>
                                <select name="protection_solaire_exterieure" id="protection_solaire_exterieure">
                                    <option value="1">Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </div>
                        </div>
                        <button class="main" type="submit">Predire</button>
                    </form>
                </section>
            </div>
            <div class="content result">
                <section>
                    <h1>Prédictions</h1>
                    <div class="dpe">
                        <h2>Etiquette DPE</h2>
                        <label for="">Votre logement est-il une passoire énergétique ? Le diagnostic de performance énergétique permet d'estimer la consommation d'un logement. Les scores F et G sont considérés comme passoires énergétiques.</label>
                        <div class="container">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            <ul class="etiquettes">
                                <li class="non-passoire"><img src="{{ url_for('static', filename='images/etiquette_A.svg') }}" alt="" height="40px"></li>
                                <li class="non-passoire"><img src="{{ url_for('static', filename='images/etiquette_B.svg') }}" alt="" height="40px"></li>
                                <li class="non-passoire"><img src="{{ url_for('static', filename='images/etiquette_C.svg') }}" alt="" height="40px"></li>
                                <li class="non-passoire"><img src="{{ url_for('static', filename='images/etiquette_D.svg') }}" alt="" height="40px"></li>
                                <li class="non-passoire"><img src="{{ url_for('static', filename='images/etiquette_E.svg') }}" alt="" height="40px"></li>
                                <li class="passoire"><img src="{{ url_for('static', filename='images/etiquette_F.svg') }}" alt="" height="40px"></li>
                                <li class="passoire"><img src="{{ url_for('static', filename='images/etiquette_G.svg') }}" alt="" height="40px"></li>
                            </ul>
                            <div class="is-passoire">
                                <p class="non-passoire">👍 Pas une passoire</p>
                                <p class="passoire">👎 Passoire</p>
                            </div>
                        </div>
                    </div>
                    <div class="consommation">
                        <h2>Consomation de chauffage</h2>
                        <label for="">À combien s'élève l'estimation de votre consommation de chauffage annuelle en kWh ?</label>
                        <div class="container">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            <p class="euro">--</p>
                            <p>kwh</p>
                        </div>
                    </div>                 
                </section>
            </div>
        </div>
    </main>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<!-- Leaflet Geosearch plugin JS -->
<script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/predict.js') }}"></script>

</body>
</html>