<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Marin NAGY"> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css') }}">
    <!-- <link rel="icon" type="" href="{{ url_for('static', filename='images/favicon.jpg') }}"> -->
    <title>France Energie - Prédictions DPE et Consomation</title>
</head>

{% include "elements/header.html" %}

<body>
    <main>

        {% include "elements/menu.html" %}

        <div class="content-wrapper">
            <div class="content decisiontree">
                <section>
                    <h1>Informations du logement</h1>
                    <form action="">
                        <div class="form-input">
                            <label for="value1">Valeur 1</label>
                            <input type="text" name="value1" id="value1" placeholder="Exemple de valeur">
                        </div>
                        <div class="input-group">
                            <div class="form-input">
                                <label for="value2">Valeur 2</label>
                                <input type="text" name="value2" id="value2" placeholder="Exemple de valeur">
                            </div>
                            <div class="form-input">
                                <label for="value3">Valeur 3</label>
                                <input type="text" name="value3" id="value3" placeholder="Exemple de valeur">
                            </div>
                        </div>
                        <button class="main" type="submit">Predire</button>
                    </form>
                </section>
            </div>
            <div class="content regression">
                <section>
                    <h1>Prédictions</h1>
                </section>
            </div>
        </div>
    </main>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>

</body>
</html>