<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Marin NAGY"> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css') }}">
    <!-- <link rel="icon" type="" href="{{ url_for('static', filename='images/favicon.jpg') }}"> -->
    <title>France Energie - Statistique Dashboard</title>
</head>

{% include "elements/header.html" %}

<body>
    <main>
        
        {% include "elements/menu.html" %}

        <div class="content-wrapper">
            <div class="content">
                <div class="grouped">
                    <div id='scatter-plot'></div>
                    <div id='box-plot'></div>
                </div>
                <div class="grouped">
                    <div id='bar-plot'></div>
                    <div id='bar-dpe-plot'></div>
                </div>
                <div id='heatmap-plot'></div>
            </div>
        </div>
    </main>


    <script>
        var scatterPlot = {{ scatterPlot | safe }};
        var boxPlot = {{ boxPlot | safe }};
        var barPlot = {{ barPlot | safe }};
        var barDPEPlot = {{ barDPEPlot | safe }};
        var heatmapPlot = {{ heatmapPlot | safe }};
    </script>


    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-3.1.0.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>

</body>
</html>