<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Marin NAGY"> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css') }}">
    <!-- <link rel="icon" type="" href="{{ url_for('static', filename='images/favicon.jpg') }}"> -->
    <title>France Energie - Prédictions DPE et Consomation</title>
</head>

<header>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="France Energie logo" height="50px">
</header>

<body>
    <main>
        
        {% include "nav-menu.html" %}

        <div class="content-wrapper">
            <div class="content">
                <div id='test-plot'></div>
            </div>
        </div>
    </main>


    <script>
        var testPlot = {{ testPlot | safe }};
    </script>


    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-3.1.0.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>

</body>
</html>